<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP8dC4Itx1F_8fTIIi4zJk2-Xig2RfMWg</string>
	<key>GCM_SENDER_ID</key>
	<string>702938202731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bakenda.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bakky-658b0</string>
	<key>STORAGE_BUCKET</key>
	<string>bakky-658b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702938202731:ios:94baac54e4e6fff53aa72e</string>
	<key>DATABASE_URL</key>
	<string>https://bakky-658b0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>